# ignore output files
*.sfm
disp1*.jpg
*.mvs
disp2*.jpg
disp_range.txt
duh_*.jpg
duh.nvm
duh.ply
F.txt
good_match.txt
H1.txt
H2.txt
image1_rect.jpg
image2_rect.jpg
IMG_0293_*.jpg
match.txt
occ1*.jpg
occ2*.jpg
sfm10_input.txt
